.contact__form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-inline: auto;
    background-color: #004a58;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 100px;
}

.contact__input-small {
    width: 200px;
    font-size: 1rem;
}

.contact__form-info {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.contact__form-submit {
    width: 200px;
    margin-inline: auto;
    font-size: .8rem;
}

.contact__form-label {
    color: white;
    font-size: 1.2rem;
}

.contact__input-message {
    height: 200px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.contact__form-name {
    display: flex;
    flex-direction: column;
}

.contact__form-company {
    display: flex;
    flex-direction: column;
}