.resume-btn {
    display: flex;
    gap: .5rem;
    margin-inline: auto;
    margin-top: 2rem;
}

.ti {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ti_title {
    text-align: center;
    color: white;
}

.ti_description {
    width: 75ch;
    color: white;
    margin-inline: auto;
    font-size: 1.5rem;
    text-align: center;
}

.ti_projects {
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px, 200px;
    gap: 1rem;
}

.ti_project {
    display: flex;
    background-color: #004a58;
    border-radius: 10px;
}

.ti_project-img {
    height: 250px;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-self: center;
}

.ti_project-content {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.ti_project-text-container {
    margin-bottom: .8rem;
}

.ti_project-title {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.ti_project-description {
    
}

.ti_project-btn {
    font-size: 1rem;
    background-color: #fff;
    color: #002A32;
    border-radius: 10px;
    border: none;
    padding: .4rem .8rem;
    cursor: pointer;
}

.ti_project-btns {
    display: flex;
    gap: 1rem;
}