.resume-btn {
    display: flex;
    gap: .5rem;
    margin-inline: auto;
    margin-top: 2rem;
}

#resume-btn-txt {
    font-size: 1.2rem;
}

.ti {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    margin-inline: auto;
}

.ti_title {
    text-align: center;
    color: white;
}

.ti_description {
    width: 75ch;
    color: white;
    margin-inline: auto;
    font-size: 1.5rem;
    text-align: center;
}

.ti_projects {
    width: 90%;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    justify-content: center;
}

.ti_project {
    flex: 1;
    display: flex;
    background-color: #004a58;
    border-radius: 10px;
    min-width: 500px;
    min-height: 200px;
}

.project-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#strobe {
    background-image: url(../../images/strobe\ resized.jpg);
}

#talon {
    background-image: url(../../images/talon\ resized.jpg);
}

#youtube {
    background-image: url(../../images/youtube\ screenshot.png);
}

#training {
    background-image: url(../../images/training-image.jpg);
}

.ti_project-content {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
}

.ti_project-text-container {
    margin-bottom: .8rem;
}

.ti_project-title {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.ti_project-btn {
    font-size: 1rem;
    background-color: #fff;
    color: #002A32;
    border-radius: 10px;
    border: none;
    padding: .4rem .8rem;
    cursor: pointer;
}

.ti_project-btns {
    display: flex;
    gap: 1rem;
}

@media (min-width: 1702px) {
    .ti_project {
        max-width: 750px;
    }

}

@media (max-width: 1280px) {
    .ti_description {
        font-size: 1.2rem;
    }

}
/* xl */
@media (max-width: 1000px) {
    /* .ti_description {
        width: 80%;
    } */
}

@media (max-width: 850px) {

    .ti_description {
        width: 90%;
    }

    .resume-btn {
        gap: .5rem;
    }
    
    #resume-btn-txt {
        font-size: 1rem;
    }
}
/* md */
@media (max-width: 768px) {
    .ti_description {
        font-size: 1rem;
    }
}
/* sm */
@media (max-width: 650px) {
    .ti_projects {
        margin-bottom: 2rem;
    }

    .ti_project-title {
        font-size: 1.2rem;
    }

    .ti_project-btn {
        font-size: .8rem;
        padding: .3rem .5rem;
        cursor: pointer;
    }

    .ti_project {
        min-width: 285px;
        min-height: 0;
    }
}
/* xs */
@media (max-width: 600px) {
    .ti_project {
        flex-direction: column;
    }

    .project-img {
        min-height: 200px;
        border-top-left-radius: 10px;
        border-top-Right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}

@media (max-width: 475px) {
    .resume-btn {
        gap: .5rem;
    }
    
    #resume-btn-txt {
        font-size: .8rem;
    }

    .ti_description {
        text-align: left;
    }

    .ti_project-content {
        padding: 20px;
    }

    .ti_project-description {
        text-align: justify;
    }
}