.footer {
    background-color: #002A32;
    padding: 1rem 0;
}

.footer__container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 50%;
    margin-inline: auto;
}

.footer__box {
    display: flex;
    flex-direction: column;
    gap: .5rem;    
    width: 200px;
}

.footer__title {
    color: #fff;
    font-weight: 400;
}

.footer__link {
    color: #fff;
}

.linkedin-footer {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.github-footer {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.linkedin-footer-icon {
    color: #fff;
    height: 18px;
    width: 18px;
}

.github-footer-icon {
    height: 18px;
    width: 18px;
}

@media (max-width: 650px) {
    .footer__box {
        gap: .2rem;    
    }

    .linkedin-footer-icon {
        color: #fff;
        height: 12px;
        width: 12px;
    }
    
    .github-footer-icon {
        height: 12px;
        width: 12px;
    }

    .footer__title {
        font-size: 1.2rem;
    }

    .footer__link {
        font-size: .8rem;
    }
}
/* xs */
@media (max-width: 550px) {
    .footer__container {
        justify-content: space-around;
        width: 80%;
        gap: 0;
    }
}

