.games {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin-inline: auto;
    margin-bottom: 8.5rem;
    gap: 2rem;
}

.games__game {
    position: relative;
}
 
.games__game-title {
    text-align: center;
    border: 2px solid #fff;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    color: #002A32;
    font-size: 1.2rem;
}

.games__game-img {
    border: 2px solid #fff;
    width: 300px;
    height: 300px;
} 

@media (max-width: 1350px) {
    .games__game-img {
        width: 250px;
        height: 250px;
    } 
}
/* xl */
@media (max-width: 1138px) {
    .games {
        margin-bottom: 3rem;
    }
}
/* md */
@media (max-width: 768px) {
    .games__game-img {
        width: 200px;
        height: 200px;
    } 
}
/* sm */
@media (max-width: 640px) {}
/* xs */
@media (max-width: 425px) {}